.layout-default {
  --color: #fff;
  --bk-color: #171719;
  --bk-color2: #28282b;
  --bk-color3: #353538;

  display: flex;
  width: 100%;
  height: 100%;
  padding: 0 10px 10px 10px;
  background-color: var(--bk-color);
  color: var(--color);
  font-size: var(--font-size);
  // 布局
  .layout-container {
    width: 100%;
    .layout-top {
      --el-header-padding: 0px;
      --el-header-height: 42px;
      .btn {
        color: #fff;
        &:hover {
          background-color: var(--bk-color3);
        }
      }
    }
    .layout-main {
      --el-main-padding: 0px;
      display: flex;
    }
  }
  //面板
  .main-plane {
    width: 100%;
    display: flex;
    .lf-plane,
    .rg-plane,
    .bm-plane {
      width: auto;
      background-color: var(--bk-color2);
      border-radius: 8px 0px 0px 8px;
      backdrop-filter: var(--blur);
    }
    .lf-plane {
      min-width: 42px;
      display: flex;
    }
    .rg-plane {
      border-radius: 0px 8px 8px 0px;
    }
    .bm-plane {
      border-radius: 0px;
    }
    .ct-plane {
      --el-main-padding: 0;
      display: flex;
      flex-direction: column;
    }
  }
  // 左侧菜单
  .menus {
    display: flex;
    flex-direction: column;
    padding: 8px 0;
    .ul {
      .el-scrollbar {
        padding: 0 4px;
        .el-scrollbar__bar.is-vertical {
          width: 2px;
        }
      }
      .li {
        display: flex;
        flex-direction: column;
        min-width: 38px;
        margin-bottom: 10px;
        text-align: center;
        padding: 6px 0 6px 0;
        border-radius: var(--radius);
        cursor: pointer;
        &:hover {
          background-color: var(--bk-color3);
        }
        .iconfont {
          font-size: 14px;
        }
        .txt {
          margin-top: 6px;
          zoom: 0.9;
        }
      }
    }
    .ul.top-ul {
      flex: 1;
      overflow: hidden;
    }
    .ul.bottom-ul {
      padding: 0 4px;
    }
  }
  // 子菜单
  .sub-menus {
    width: 248px;
    background-color: var(--bk-color3);
  }
  .edit-plane {
    width: 270px;
  }
  .view-plane {
    flex: 1;
    position: relative;
    .view-list {
      display: flex;
      flex-direction: column;
      position: absolute;
      left: 10px;
      top: 10px;
      z-index: 2;
      width: 100px;
      padding: 2px 5px 2px 10px;
      background-color: var(--bk-color2);
      border-radius: var(--radius);
      backdrop-filter: var(--blur);
    }
  }
}
